@import "./scss/fonts";
@import "./scss/libraries";
@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/base";

@import "./scss/components/heder";
@import "./scss/components/index-about";
@import "./scss/components/hero";
@import "./scss/components/services";
@import "./scss/components/about";
@import "./scss/components/career";
@import "./scss/components/reviews";
@import "./scss/components/contacts";
@import "./scss/components/publications";
@import "./scss/components/calulations";
@import "./scss/components/projects";
@import "./scss/components/form";
@import "./scss/components/modal-feedback";
@import "./scss/components/footer";
// @import "./scss/components/features";
// @import "./scss/components/whom";
// @import "./scss/components/start";
// @import "./scss/components/benefits";
// @import "./scss/components/tariff";
// @import "./scss/components/feedback";
// @import "./scss/components/footer";
// @import "./scss/components/popup";
// @import "./scss/components/user";

.mb-13 {
    margin-bottom: 13px;
}
.mb-25 {
    margin-bottom: 25px;
}

.mb-28 {
    margin-bottom: 28px;
}
.mb-37 {
    margin-bottom: 37px;
}

.mb-63 {
    margin-bottom: 63px;
}

.mb-140 {
    margin-bottom: 140px;
}
.mb-350 {
    margin-bottom: 350px;
}

.mt-85 {
    margin-top: 85px;
}

.color--blue {
    color: #3858E4;
}
.bg--grey {
    background: #F4F5F8;
}

.border-t {
    border-top: 3px solid #B1B1B1;
}
.pt-25 {
    padding-top: 25px;
}

.mw-350 {
    max-width: 350px;
}
.mw-650 {
    max-width: 650px;
}

.flex-mob {
    display: flex
}

.justify-content-center-mob {

    justify-content: center;

}

.align-items-center-mob {
    align-items:center;
}
@media (min-width: $screen-table) {
    .flex-table {
        display: flex
    }
    .flex-direction-column-table {
        flex-direction: column;
    }
    .mb-table-70 {
        margin-bottom: 70px;
    }
}
@media (min-width: $screen-desktop) {
    .mb-120-dest  {
        margin-bottom: 120px;
    }
    .flex-dest {
        display: flex
    }
    .flex-direction-row-dest {
        flex-direction: row;
    }
    .align-items-start-dest {
        align-items:flex-start;
    }
    .justify-content-space-between-dest {
        justify-content: space-between;
    }
    .justify-content-start-dest {
        justify-content: flex-start;
    }
    .justify-content-end-dest {
        justify-content: flex-end;
    }
}

.main-blue {
    background: #061827;
}

.re {
    display: flex;
    flex-direction: column !important;
}

.re-list {
    li {
        position: relative;
        margin-bottom: 20px;
        margin-left: 30px;
        &::before {
            content: '—';
            position: absolute;
            left: -30px;

        }
    }
}

.blue {
    color: #3858E4;
}